In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb

In [2]:
df=pd.read_csv("fact_bating_summary - fact_bating_summary.csv")
df.head()

,match_id,match,teamInnings,battingPos,batsmanName,out/not_out,runs,balls,4s,6s,SR
0,T203817,Super Kings Vs KKR,Super Kings,1,RuturajGaikwad,out,32,27,3,1,118.51
1,T203817,Super Kings Vs KKR,Super Kings,2,FafduPlessis,out,86,59,7,3,145.76
2,T203817,Super Kings Vs KKR,Super Kings,3,RobinUthappa,out,31,15,0,3,206.66
3,T203817,Super Kings Vs KKR,Super Kings,4,MoeenAli,not_out,37,20,2,3,185
4,T203817,Super Kings Vs KKR,KKR,1,ShubmanGill,out,51,43,6,0,118.6

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3268 entries, 0 to 3267
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   match_id     3268 non-null   object
 1   match        3268 non-null   object
 2   teamInnings  3268 non-null   object
 3   battingPos   3268 non-null   int64
 4   batsmanName  3268 non-null   object
 5   out/not_out  3268 non-null   object
 6   runs         3268 non-null   int64
 7   balls        3268 non-null   int64
 8   4s           3268 non-null   int64
 9   6s           3268 non-null   int64
 10  SR           3268 non-null   object
dtypes: int64(5), object(6)
memory usage: 281.0+ KB

In [4]:
df['match_id'].nunique()

206

In [5]:
# if you actually have multiple match_id-like columns and want unique per row:
df[['match_id']].nunique(axis=1).head()

0    1
1    1
2    1
3    1
4    1
dtype: int64

In [12]:
df_matchid_unique=df['match_id'].nunique()

In [13]:
df_matchid_unique

206