In [2]:
def dup(lis):
    mtlist=[]
    for i in lis:
        if i not in mtlist:
            mtlist.append(i)
    return mtlist
print(dup([1,1,0,4,4,6,7,2,3,4,3,2,1]))

[1, 0, 4, 6, 7, 2, 3]

In [ ]:
print(3%5)

hello 3

In [24]:
def rotate(arr,k):
    k=k%len(arr)
    return arr[k:]+arr[:k]
print(rotate([1,2,3,4,5],2))

[3, 4, 5, 1, 2]

In [29]:
arr=[1,2,3,4,5,6,7,8,9,11]
n=len(arr)+1
print(n)
t=n*(n+1)/2
print(t)
s=sum(arr)
print(s)
print(int(t-s))

11
66.0
56
10

In [2]:
def dup(li):
    seen=[]
    not_seen=[]
    for i in li:
        if i not in seen:
            seen.append(i)
        elif i in seen:
            not_seen.append(i)
    not_seen.sort()
    print("not seen:",not_seen)

    return seen
print(dup([1,2,3,2,1,4]))

not seen: [1, 2]
[1, 2, 3, 4]

In [6]:
def zero(arr):
    count=arr.count(0)
    for i in range(count):
        arr.remove(0)
        arr.append(0)
    # arr=arr[::-1]
    arr=sum(arr)
    print(count)
    return arr
arr=[1,0,2,0,4,0,5,0]
print(zero(arr))

4
12

In [7]:
for i in range(5):
    print(i)

0
1
2
3
4

In [12]:
import pandas as pd
import numpy as np
datas={'a':[1,2,3],'b':[4,5,6]}
data1= pd.DataFrame(datas)
data2=np.array(datas)
print(data2)
print(data1)

{'a': [1, 2, 3], 'b': [4, 5, 6]}
   a  b
0  1  4
1  2  5
2  3  6